<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<nav th:if="${pageInfo.getPages() > 1 || pageInfo.getTotal() > 0 }">
    <ul class="pagination justify-content-center mt-4">
        <!-- 맨 처음 페이지 링크 -->
        <li class="page-item" th:classappend="${pageInfo.hasPreviousPage}? '' : 'disabled'">
            <a class="page-link" th:href="@{${#httpServletRequest.requestURI} + '?pageNum=1&pageSize=' + ${pageInfo.pageSize} + '&searchText=' + ${searchText} + '&memberId=' + ${memberId}} " th:text="'맨처음'"> 맨처음 </a>
        </li>
        <!-- 이전 페이지 링크 -->
        <li class="page-item" th:classappend="${pageInfo.hasPreviousPage}? '' : 'disabled'">
            <a class="page-link" th:href="@{${#httpServletRequest.requestURI} + '?pageNum=' + (${pageInfo.pageNum} - 1) + '&pageSize=' + ${pageInfo.pageSize} + '&searchText=' + ${searchText}  + '&memberId=' + ${memberId}}"> 이전 </a>
        </li>

        <!-- 페이지 번호 링크 -->
        <li class="page-item" th:each="page : ${pageInfo.navigatepageNums}" th:classappend="${pageInfo.pageNum == page}? 'active' : ''">
            <a class="page-link" th:href="@{${#httpServletRequest.requestURI} + '?pageNum=' + ${page} + '&pageSize=' + ${pageInfo.pageSize} + '&searchText=' + ${searchText} +  '&memberId=' + ${memberId}}" th:text="${page}"></a>
        </li>

        <!-- 다음 페이지 링크 -->
        <li class="page-item" th:classappend="${pageInfo.hasNextPage}? '' : 'disabled'">
            <a class="page-link" th:href="@{${#httpServletRequest.requestURI} + '?pageNum=' + (${pageInfo.pageNum} + 1) + '&pageSize=' + ${pageInfo.pageSize} + '&searchText=' + ${searchText} + '&memberId=' + ${memberId}}"> 다음 </a>
        </li>
        <!-- 맨 끝 페이지 링크 -->
        <li class="page-item" th:classappend="${pageInfo.hasNextPage}? '' : 'disabled'">
            <a class="page-link" th:href="@{${#httpServletRequest.requestURI} + '?pageNum=' + ${pageInfo.getPages()} + '&pageSize=' + ${pageInfo.pageSize} + '&searchText=' + ${searchText} + '&memberId=' + ${memberId}}" th:text="'맨끝'"> 맨끝 </a>
        </li>
    </ul>
</nav>

</html>